<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <style>
            body {
                margin: 0;
                padding: 0;
                display: grid;
                text-align: center;
                justify-content: center;
                user-select: none;
            }
        </style>
    </head>

    <body>
        <h3><a href="{{ url_for('register')}}"> Register</a></h3>

        <h3><a href="{{ url_for('login')}}">Log In</a></h3>

        <h3><a href="{{ url_for('Valid_admin')}}">View User's Info</a></h3>
    </body>

</html>