<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            div {
                display: block;
                text-align: center;
            }


            h3 {
                text-align: center;
                color: red;
            }
        </style>
    </head>

    <body>
        <div>
            <h3>INCORRECT ADMIN NAME</h3>
            <p><a href="{{url_for('home')}}">Go Back To Home Page</a></p>
        </div>
    </body>

</html>